.wrapper {
  display: flex;
  align-items: baseline;
}

.name {
  margin-left: 10px;

  font-size: 20px;
  font-weight: bold;
}
.submit {
  margin-top: 20px;
  margin-right: auto;
  margin-left: 20px;
  width: 150px;
  height: 40px;
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
}
